[package]
name = "customer-checkout-validation"
version = "1.0.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[dependencies]
shopify_function = "2.0.2"

[profile.release]
lto = true
opt-level = 'z'
strip = true
